body {
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

/* ------- Navbar ------- */
.navbar {
	margin-bottom: 50px;
}

img.pimage {
	width: 125px;
}

a.pa {
	display: inline-block;
	height: 160px;
}

.row.products .p {
	margin-top: 20px;
	margin-bottom: 20px;
}

img.spi {
	width: 100%;
}

ul.gallery li {
	display: inline-block;
	margin: 20px;
	list-style: none;
}

img.cpi {
	width: 100px;
}

table.align-middle td {
	vertical-align: middle !important;
}

.paypal {
	position: absolute;
	left: -3000px;
}

.ajaxbg {
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(255,255,255, .8);
	z-index: 2;
	display: none;
}

.ajaxinner {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

/* ------- Footer ------- */
footer {
	margin-top: 50px;
}



/* ------------------------------------ ADMIN --------------------------------------- */

.sortable-table tr:not(.home) {
	cursor: pointer;
}

.ui-state-highlight {
	border: 1px dashed #ccc;
}

#imgPreview {
	margin: 20px;
}

/* Product Image*/
#productImage {
	width: 100px;
	height: 100px;
}

/* Gallery Images */
ul.gallery {
	padding: 0;
}

ul.gallery li:first-child {
	margin-left: 0;
}

ul.gallery li {
	margin-left: 20px;
	display: inline-block;
	list-style: none;
}

